
<html>
<head>

<link type="text/css" rel="stylesheet" href="video-gallery-css-modules.module.css" media="all">

  
</head>
<body >
  
  <div class="grid-row  video-gallery">
 <input type="radio" value="1" name="video-list" id="video-1" checked="checked" /><label for="video-1">Option 1</label>
 <input type="radio" value="2" name="video-list" id="video-2" /><label for="video-2">Option 2</label>
 <input type="radio" value="3" name="video-list" id="video-3" /><label for="video-3">Option 3</label>
 <input type="radio" value="4" name="video-list" id="video-4" /><label for="video-4">Option 4</label>
 <input type="radio" value="5" name="video-list" id="video-5" /><label for="video-5">Option 5</label>
 <input type="radio" value="6" name="video-list" id="video-6" /><label for="video-6">Option 6</label>
 <!-- videos -->
 <div class="video video-1">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ROqDTIxRX0Y" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-2">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9iGoDNlKY-g" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/l70UhhNalqA" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XDrB5c4-c9Y" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-5">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UXP307MGQzs" frameborder="0" allowfullscreen></iframe>
 </div>

 <div class="video video-6">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0kY0Q5hdjDI" frameborder="0" allowfullscreen></iframe>
 </div>
 <!-- videos -->
</div>
</body>
